@model PetroBM.Web.Models.ConfigArmGroupModel

@{
    ViewBag.Title = "Danh sách nhóm họng";
}

@{
    var alert = TempData["AlertMessage"];
    if (null != alert && !string.IsNullOrEmpty(alert.ToString()))
    {
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@alert</strong>
        </div>
    }
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConfigArmGrp.ConfigArmName)
            </th>
            <th>
                Kho
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfigArmGrp.InsertDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfigArmGrp.InsertUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfigArmGrp.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfigArmGrp.UpdateUser)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model.ListConfigArmGrp)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigArmName)
            </td>
            <td>
                @foreach (var it in Model.ListWareHouse)
                {
                    if (it.WareHouseCode == item.WareHouseCode)
                    {
                        @it.WareHouseName
                    }
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateUser)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ConfigArmGrpId }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ConfigArmGrpId }, new {@class ="delete-configarmgrp"})
            </td>
        </tr>
    }

</table>
<p>
    <input type="button" value="Tạo mới" class="btn btn-success" onclick="location.href='@Url.Action("Create")'" />
</p>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.delete-configarmgrp').click(function () {
                var r = confirm("Bạn chắc chắn muốn xóa bản ghi này?");
                return r;
            });
        });
    </script>
}