@model PetroBM.Web.Models.LocationModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách Địa điểm";
}
@using (Html.BeginForm())
{
    var alert = TempData["AlertMessage"];
    if (null != alert && !string.IsNullOrEmpty(alert.ToString()))
    {
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@alert</strong>
        </div>
    }
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location.LocationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.LocationAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.LocationStatus)
            </th>

            <th></th>
        </tr>
    </thead>

@foreach (var item in Model.ListLocation)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationStatus)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.ID }, new { @class = "delete-location" })
        </td>
    </tr>
}
</table>
<div class="text-center">
    @Html.PagedListPager(Model.ListLocation, page => Url.Action("Index", new { page, }))
</div>

<p>
    <div class="col-sm-3">
        <input type="button" value="Tạo mới" class="btn btn-success" onclick="location.href='@Url.Action("Create")'" />
      
    </div>
  
</p>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('.delete-location').click(function () {
                var r = confirm("Bạn chắc chắn muốn xóa bản ghi này?");
                return r;
            });
        });
    </script>
}